
@model entityentitiy.ViewModels.RegisterView



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/register.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Libre+Baskerville&family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Josefin+Sans:ital,wght@1,600&family=Libre+Baskerville&family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300&family=Cairo:wght@300&family=Josefin+Sans:ital,wght@1,600&family=Libre+Baskerville&family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">
    <title>Register as Doctor</title>
</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="menuReg">

                <nav class="d-flex justify-content-end">

                    <ul class="Reg menulink">
                        <li><a asp-controller="Account" asp-action="Login">Մուտք</a></li>
                        <li class="Regend"><a asp-controller="Account" asp-action="Register">Գրանցվել</a></li>
                        <li><a href="">Հայ</a></li>
                        <li><a href="">Рус</a></li>
                        <li><a href="">Eng</a></li>
                    </ul>

                </nav>

            </div>

            <div class="menu">

                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-3 Logo">
                            <a asp-action="index" asp-controller="Home"><h3><span>M</span>EDICAL</h3></a>
                        </div>


                        <div class="col-9">
                            <nav class="d-flex justify-content-end">
                                <ul class="Reg menulink">
                                    <li><a asp-controller="Home" asp-action="Index">Գլխավոր</a></li>
                                    <li><a asp-controller="Home" asp-action="Index">Ծառայություններ</a></li>
                                    <li><a asp-controller="Home" asp-action="Index">Բժիշկներ</a></li>
                                    <li><a asp-controller="Home" asp-action="Index">Կոնտակտներ</a></li>
                                </ul>


                            </nav>


                        </div>

                    </div>

                </div>

            </div>

            <div class="RegContainer">

                <form asp-action="Register" asp-controller="Account" method="post" enctype="multipart/form-data">
                    <div class="row no-gutters">
                        <div class="col-12 Regh1"><h1>Գրանցում</h1></div>


                        <div class="col-6 inputbuts">
                            <p>Անուն :</p>
                        </div>
                        <div class="col-6 inputbuts">

                            <input type="text" asp-for="FirstName">
                            <span asp-validation-for="FirstName"></span>
                        </div>
                        <div class="col-6 inputbuts">
                            <p>Ազգանուն :</p>
                        </div>
                        <div class="col-6 inputbuts">

                            <input type="text" asp-for="LastName">
                            <span asp-validation-for="LastName"></span>
                        </div>
                        <div class="col-6 inputbuts">
                            <p>Հայրանուն :</p>
                        </div>
                        <div class="col-6 inputbuts">

                            <input type="text" asp-for="MiddleName">
                            <span asp-validation-for="MiddleName"></span>
                        </div>
                        <div class="col-6 inputbuts">
                            <p>ՄԵյլ :</p>
                        </div>
                        <div class="col-6 inputbuts">

                            <input type="text" asp-for="Email">
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="col-6 inputbuts">
                            <p>Տարիք :</p>
                        </div>
                        <div class="col-6 inputbuts">

                            <input type="number" asp-for="Age">
                            <span asp-validation-for="Age"></span>
                        </div>
                        <div class="col-6 inputbuts">
                            <p>Հեռախոսահամար :</p>
                        </div>
                        <div class="col-6 inputbuts">

                            <input type="text" asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber"></span>
                        </div>
                        <div class="col-6 inputbuts">
                            <p>Մուտքանուն :</p>
                        </div>
                        <div class="col-6 inputbuts">

                            <input type="text" asp-for="Login">
                            <span asp-validation-for="Login"></span>
                        </div>

                        <div class="col-6 inputbuts">
                            <p>Գաղտնաբառ :</p>
                        </div>
                        <div class="col-6 inputbuts">

                            <input type="password" asp-for="Password">
                            <span asp-validation-for="Password"></span>
                        </div>


                        <div class="col-6 inputbuts">
                            <p>Նկար :</p>
                        </div>
                        <div class="col-6 inputbuts">


                            <input asp-for="file" />
                            <span asp-validation-for="file" />
                        </div>

                        <div class="col-6 inputbuts">
                            <p>Մասնագիտություն:</p>
                        </div>
                        <div class="col-6 inputbuts">

                            <select asp-for="Speciality">
                                <option>Healthcare manager</option>
                                <option>Allergologist</option>
                                <option>Pathologist</option>
                                <option>Ophthalmologist</option>
                                <option>Anaesthesiologist-reanimatologist</option>
                                <option>Haematologist</option>
                                <option>Bacteriologist</option>
                                <option>Laboratory assistant</option>
                                <option>Cosmetologist</option>
                                <option>Gastroenterologist</option>
                                <option>Geneticist</option>
                                <option>Gynecologist</option>
                                <option>Embryologist</option>
                                <option>Endocrinologist</option>
                                <option>Endoscopist</option>
                                <option>General practitioner</option>
                                <option>Therapeutist</option>
                                <option>Dermatotrichologist</option>
                                <option>Narcologist</option>
                                <option>Pulmonologist</option>
                                <option>Hepatologist</option>
                                <option>Logopedist</option>
                                <option>Kinesiologist</option>
                                <option>Epidemiologist</option>
                                <option>Psychologist</option>
                                <option>Psychotherapeutist</option>
                                <option>Radiologist</option>
                                <option>Pediatrician</option>
                                <option>Manual therapeutist</option>
                                <option>Dermatovenerologist</option>
                                <option>Neonatologist</option>
                                <option>Nephrologist</option>
                                <option>Neuropatologist</option>
                                <option>Neurosurgeon</option>
                                <option>Oncologist</option>
                                <option>Urologist</option>
                                <option>Podologist</option>
                                <option>Proctologist</option>
                                <option>Rehabilitologist</option>
                                <option>Reflexotherapeutist</option>
                                <option>Rheumatologist</option>
                                <option>Medical sexologist</option>
                                <option>Nutritionist</option>
                                <option>Stomatologist</option>
                                <option>Cardiologist</option>
                                <option>Infectionist</option>
                                <option>Surgeon (vascular)</option>
                                <option>Surgeon (maxillofacial)</option>
                                <option>Surgeon (general)</option>
                                <option>Surgeon (thoracal)</option>
                                <option>Surgeon (pediatric)</option>
                                <option>Surgeon (plastic)</option>
                                <option>Surgeon (cardiovascular)</option>
                                <option>Traumatologist-orthopedist</option>
                                <option>Otorhinolaryngologist</option>
                                <option>Physiotherapeutist</option>
                            </select>
                            <span asp-validation-for="Speciality" />

                        </div>
                        <div class="col-6 inputbuts">
                            <p>Գրանցվել որպես բժիշկ :</p>
                        </div>
                        <div class="col-6 inputbuts">


                            <input class="check" asp-for="IsDoctor" />
                            <span asp-validation-for="IsDoctor" />
                        </div>

                        <div class="col-12 inputbuts">
                            <button type="submit">Գրանցվել</button>
                        </div>




                    </div>
                </form>

            </div>

        </header>
    </div>

    <footer class="foot">
        <div class="container">
            <div class="row no-gutters">

                <div class="col-6">
                    <ul class="footul">
                        <li><a href="">Home Page</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a name="contacts"></a></li>
                    </ul>

                </div>
                <div class="col-6 d-flex justify-content-end">
                    <p>Copyright ⓒ 2021. All rights reserved by Medical</p>
                </div>
            </div>

        </div>




    </footer>
</body>
</html>

@*<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" enctype="multipart/form-data">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div>
                <label asp-for="Login">Введите Login</label><br />
                <input type="text" asp-for="Login" />
                <span asp-validation-for="Login" />
            </div>
            <div>
                <label asp-for="Password">Введите пароль</label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div>
                <label asp-for="Age">Age</label><br />
                <input asp-for="Age" />
                <span asp-validation-for="Age" />
            </div>
            <div>
                <label asp-for="IsDoctor"></label><br />
                <input asp-for="IsDoctor" />
                <span asp-validation-for="IsDoctor" />
            </div>
            <div>
                <label asp-for="file"></label><br />
                <input asp-for="file" />
                <span asp-validation-for="file" />


            </div>
            <div>
                <input type="submit" value="Регистрация" />
            </div>
        </div>
    </form>*@