header{
    height: 950px;
    background-image: url(..//images/background.png);
    background-repeat: no-repeat;
}

.menuReg{
    height: 25px;
    
    background: rgba(255, 255, 255, 0.8);
}

.Regend{
    border-right: black 1px solid;
}

.menulink a
{
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
}

.menulink a:hover
{
    color:#6bc2f1 ;
    font-family: 'Noto Sans TC', sans-serif;
}
.menu{
    height: 55px;
    
    background: rgba(255,255,255,0.8);
}

.Logo span{
    color:#6bc2f1;
    font-size: 20px;
 } 
 
 .Logo h3{
     display: block;
     color:black;
     font-size:20px;
  } 
 
 .Logo a{
     display: block;
     width: 100px;
  }
 

 /***********REGISTRATION***********/
 .Reg{
    list-style: none;
    padding-top: 5px;
 }
 .Reg li{
    display: inline-block;
    margin-right: 10px;
 }


 .RegContainer
{
    max-width:500px;
   
    margin-left: 400px;
    margin-top: 250px;
}

.Regh1{
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #0c354a;
}

.inputbuts
{
    margin-top: 15px;
}

.inputbuts input,select
{
    width: 90%;
    padding-left: 5px;
    background: none;
    color: #0c354a;
}



.inputbuts p
{
    font-family: 'Bodoni Moda', serif;
    padding-left: 10px;
    font-size: 20px;
    color: #0c354a;
}

.inputbuts button{
    display: block;
    width: 200px;
    height: 45px;
    margin: 0 auto;
    text-decoration: none;
    color: #0c354a;
    background-color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    font-family: 'Cairo', sans-serif;
    border: white 1px;
    border-radius: 15px;

}

.inputbuts button:hover{
background-color:#0c354a ;
color: white;
text-decoration: none;
}


/************Footer************/
.foot{
    height: 135px;
    background-color: black;
}

.footul,.foot p{
    display: block;
    list-style-type: none;
    margin-top: 56px;
    padding: 0;
    color: #868686;

}
.foot ul li{
   
    display: inline-block;
    margin-right: 20px;
    
}


.foot ul li a{
    color: #868686;
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    font-weight: bold;
    
}

.foot ul li a:hover{
  
    text-decoration:underline;
    
}